#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body {
  line-height: 1.3;
  font-size: 0.6cm;
}

h2 {
  padding-top: 4cm;
  display: block;
  line-height: 1.3;
  font-size: 1.2cm;
  text-align: right;
  margin: 0;
}

h3 {
  display: block;
  line-height: 1.3;
  margin-block-start: 0.5em;
  margin-block-end: 0;
  font-size: 0.8cm;
  text-align: center;
  background-color: #9CB5B1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1503.2px;
  overflow: hidden;
  background-color: #024055;
}

.header-container {
  display: grid;
  height: 14cm;
  align-content: center;
  grid-template-columns: 567.28px 925.92px;
  grid-gap: 10px;
  padding: 0px;
}

.header-container > div {
  text-align: center;
  padding: 0 0;
  font-size: 30px;
  height: 13.5cm;
}

.interest-container {
  display: grid;
  height: 400px;
  align-content: center;
  grid-template-columns: 300.8px 300.8px 300.8px 300.8px;
  grid-gap: 3px;
  padding: 0px 150px;
  margin-bottom: 10px;
}

.interest-container > div {
  background-color: #F9F0F3;
  text-align: center;
  padding: 20px 10px;
  font-size: 30px;
  height: 350px;
}

.interest-container > div:hover {
  background-color: #9CB5B1;
}

.input-container {
  display: grid;
  height: 200px;
  align-content: center;
  grid-template-columns: 601.6px 601.6px;
  grid-gap: 3px;
  padding: 0px 150px;
}

.input-container > div {
  background-color: #2D6D79;
  color: #F9F0F3;
  text-align: center; 
  padding: 25px 10px;
  font-size: 22px;
  height: 150px;
}

.display-container {
  display: grid;
  height: 350px;
  align-content: center;
  grid-template-columns: 601.6px 601.6px;
  grid-gap: 3px;
  padding: 0px 150px;
  margin-bottom: 200px;
}

.display-container > div {
  background-color: #2D6D79;
  color: #F9F0F3;
  text-align: center; 
  padding: 10px 0px;
  font-size: 22px;
  height: 300px;
}

.footer {
  padding: 25px 0px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 1503.2px;
  background-color: #024055;
  color: #F9F0F3;
  text-align: center;
  height: 200px;
  margin-top: -200px;
}